@import 'mixins';
@import 'variable';

.wrap-tab{
	margin: 20px auto;
	padding: 20px;
	.list-tab{
		@include flexbox;
		.item-tab{
			background-color: $color-orange;
			a{
				padding: 10px 30px;
				color: $color-white;
				font-size: 16px;
				font-weight: bold;
				cursor: pointer;
				border-right: 1px solid rgba($color-white, 0.4);
				display: block;
				&:hover{
					background-color: darken($color-orange, 7%);
					@include transition(all ease .3s);
				}	
			}
			&.active{
				background-color: darken($color-orange, 7%);
			}
		}
	}
	.content-tab{
		border: 1px solid rgba($color-black, 0.2);
		padding: 15px 30px;
		.item-content-tab{

		}
	}
}
